*,
*::before,
*::after {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.hero-h1{
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
}

.header {
  background: #e7e9fc;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.studio {
  color: #2e2f42;
}

.menu-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #2e2f42;
}

.menu-link:hover,
.menu-link:active,
.menu-link:focus,
.contact-link:hover,
.contact-link:active,
.contact-link:focus {
  color: #404bbf;
}

.contact-list {
  font-style: normal;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.hero {
  text-align: center;
  background: #2e2f42;
}
.btn {
  margin-top: 48px;
  background: #4d5ae5;
  border: 0;
  font-weight: 500;
  color: #fff;
}

.tech {
  margin-top: 94px;
  margin-bottom: 120px;
}
.tech .tech-list h3 {
  font-size: 1.25rem;
  font-weight: 500;
}
.tech-list li {
  color: #434455;
  letter-spacing: 0.02em;
}

.team {
  background: #f4f4fd;
}
.team h2 {
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.team-item {
  background: #fff;
}
.team-text {
  text-align: center;
}
.team-text h3 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #2e2f42;
}
.team-text p {
  color: #434455;
  margin-top: 8px;
}

.portfolio {
  margin-top: 120px;
  margin-bottom: 120px;
}
.portfolio h2 {
  text-align: center;
  margin-bottom: 72px;
}
.portfolio-item {
  margin-right: 15px;
  margin-bottom: 48px;
}
.portfolio-item h3 {
  font-weight: 500;
  font-size: 1.25rem;
  color: #2e2f42;
}
.portfolio-item p {
  color: #434455;
}

.footer {
  background: #2e2f42;
}
.footer .logo {
  color: #4d5ae5;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer .studio {
  color: #f4f4fd;
}
.footer-p {
  margin-top: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
